.Join{
    display: flex;
    padding: 0 2rem;
    gap: 10rem;
}

.left-j{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.left-j>hr{
    position:absolute;
    width: 10.5rem;
    border: 2px solid var(--orange);
    border-radius: 20%;
    margin: -10px 0;
}
.left-j>div{
    display: flex;
    gap: 1rem;
}

.right-j{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.email-container{
    display: flex;
    gap: 7rem;
    background-color: gray;
    border-radius: 20px;
    padding: 1rem 1rem;
}
.email-container>input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--lightgray);
}

::placeholder{
    color: var(--lightgray);
}

.btn-j{
    background: var(--orange);
    color: white;
}

@media screen and (max-width:768px){
    .Join{
        flex-direction: column;
        gap: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .left-j{
        font-size: x-large;
        flex-direction: column;
    }

    .right-j{
        align-items: center;

    }
    .email-container{
        gap: 0.9rem;
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 2rem;
        width: 16rem;
        align-items: center;
    }
    .btn-j{
        align-items: center;
        justify-content: center;
        padding: 0.2rem;
    }
}